header {
	width:960;
	background-image:url(../pics/schaubby1.jpg);
	color:blue;
	font-family:"Bradley Hand ITC";
	font-weight:bold;
	font-size:40px;
	height:200px;
	float:right
}
nav {
	
}
body{
	
}
footer{
	
}

html{
	
}
