<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryWidth="630px"
	galleryTitle="Channel 47 Island"
	backgroundColor="rgba(255,255,255,1)"
	indexPageName="index.html"

>
  <image imageURL="images/Channel 47 (7).jpg"
	thumbURL="thumbs/Channel 47 (7).jpg"
	linkURL="images/Channel 47 (7).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (7).jpg">
    <title><![CDATA[Channel 47 (7)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (8).jpg"
	thumbURL="thumbs/Channel 47 (8).jpg"
	linkURL="images/Channel 47 (8).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (8).jpg">
    <title><![CDATA[Channel 47 (8)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (13).jpg"
	thumbURL="thumbs/Channel 47 (13).jpg"
	linkURL="images/Channel 47 (13).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (13).jpg">
    <title><![CDATA[Channel 47 (13)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (15).jpg"
	thumbURL="thumbs/Channel 47 (15).jpg"
	linkURL="images/Channel 47 (15).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (15).jpg">
    <title><![CDATA[Channel 47 (15)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (14).jpg"
	thumbURL="thumbs/Channel 47 (14).jpg"
	linkURL="images/Channel 47 (14).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (14).jpg">
    <title><![CDATA[Channel 47 (14)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (16).jpg"
	thumbURL="thumbs/Channel 47 (16).jpg"
	linkURL="images/Channel 47 (16).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (16).jpg">
    <title><![CDATA[Channel 47 (16)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (17).jpg"
	thumbURL="thumbs/Channel 47 (17).jpg"
	linkURL="images/Channel 47 (17).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (17).jpg">
    <title><![CDATA[Channel 47 (17)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (2).jpg"
	thumbURL="thumbs/Channel 47 (2).jpg"
	linkURL="images/Channel 47 (2).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (2).jpg">
    <title><![CDATA[Channel 47 (2)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (18).jpg"
	thumbURL="thumbs/Channel 47 (18).jpg"
	linkURL="images/Channel 47 (18).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (18).jpg">
    <title><![CDATA[Channel 47 (18)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (20).jpg"
	thumbURL="thumbs/Channel 47 (20).jpg"
	linkURL="images/Channel 47 (20).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (20).jpg">
    <title><![CDATA[Channel 47 (20)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (25).jpg"
	thumbURL="thumbs/Channel 47 (25).jpg"
	linkURL="images/Channel 47 (25).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (25).jpg">
    <title><![CDATA[Channel 47 (25)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (26).jpg"
	thumbURL="thumbs/Channel 47 (26).jpg"
	linkURL="images/Channel 47 (26).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (26).jpg">
    <title><![CDATA[Channel 47 (26)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (27).jpg"
	thumbURL="thumbs/Channel 47 (27).jpg"
	linkURL="images/Channel 47 (27).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (27).jpg">
    <title><![CDATA[Channel 47 (27)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (39).jpg"
	thumbURL="thumbs/Channel 47 (39).jpg"
	linkURL="images/Channel 47 (39).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (39).jpg">
    <title><![CDATA[Channel 47 (39)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (40).jpg"
	thumbURL="thumbs/Channel 47 (40).jpg"
	linkURL="images/Channel 47 (40).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (40).jpg">
    <title><![CDATA[Channel 47 (40)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (43).jpg"
	thumbURL="thumbs/Channel 47 (43).jpg"
	linkURL="images/Channel 47 (43).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (43).jpg">
    <title><![CDATA[Channel 47 (43)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (44).jpg"
	thumbURL="thumbs/Channel 47 (44).jpg"
	linkURL="images/Channel 47 (44).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (44).jpg">
    <title><![CDATA[Channel 47 (44)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (45).jpg"
	thumbURL="thumbs/Channel 47 (45).jpg"
	linkURL="images/Channel 47 (45).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (45).jpg">
    <title><![CDATA[Channel 47 (45)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (46).jpg"
	thumbURL="thumbs/Channel 47 (46).jpg"
	linkURL="images/Channel 47 (46).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (46).jpg">
    <title><![CDATA[Channel 47 (46)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (47).jpg"
	thumbURL="thumbs/Channel 47 (47).jpg"
	linkURL="images/Channel 47 (47).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (47).jpg">
    <title><![CDATA[Channel 47 (47)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47 (48).jpg"
	thumbURL="thumbs/Channel 47 (48).jpg"
	linkURL="images/Channel 47 (48).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47 (48).jpg">
    <title><![CDATA[Channel 47 (48)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Channel 47.jpg"
	thumbURL="thumbs/Channel 47.jpg"
	linkURL="images/Channel 47.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\jgood\Dropbox\JS Pool pictures\Channel 47\Channel 47.jpg">
    <title><![CDATA[Channel 47]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>